{% extends '::base.html.twig' %}

{% block title %}{% trans %}global.name{% endtrans %} - {% trans %}global.homepage{% endtrans %}{% endblock title %}

{% block content %}
    {{ parent() }}

    <!-- /.row -->
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% trans %}reunion.mis_invitaciones{% endtrans %}
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                {% trans %}global.acciones{% endtrans %}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="{{ path('reunion_new') }}"><i class="fa fa-clock-o fa-fw"></i> {% trans %}reunion.nuevaReunion{% endtrans %}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    {% if invitaciones is empty%}
                    <span>{% trans %}reunion.sin_invitaciones{% endtrans %}</span>
                    {% else %}
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>{% trans %}reunion.nombre{% endtrans %}</th>
                                        <th>{% trans %}reunion.fecha_creacion{% endtrans %}</th>
                                        <th>{% trans %}reunion.caduca{% endtrans %}</th>
                                        <th>{% trans %}reunion.estado{% endtrans %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for reunion in invitaciones %}
                                    <tr class="success">
                                        <td><a href='{{ path('reunion_show', { 'id': reunion.id }) }}'>{{ reunion.nombrePublico }}</a></td>
                                        <td>{{ reunion.fechaCreacion | localizeddate('medium', 'none', app.request.locale ) }}</td>
                                        <td>{{ reunion.fechaCreacion | date_modify("+" ~ intervalo ~ " day") | localizeddate('medium', 'none', app.request.locale ) }}</td>
                                        <td>Creada</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    {% endif %}
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% trans %}reunion.mis_reuniones{% endtrans %}
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                {% trans %}global.acciones{% endtrans %}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="{{ path('reunion_new') }}"><i class="fa fa-clock-o fa-fw"></i> {% trans %}reunion.nuevaReunion{% endtrans %}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    {% if reuniones is empty%}
                    <span>{% trans %}reunion.sin_reuniones{% endtrans %}</span>
                    {% else %}
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>{% trans %}reunion.nombre{% endtrans %}</th>
                                        <th>{% trans %}reunion.fecha_creacion{% endtrans %}</th>
                                        <th>{% trans %}reunion.caduca{% endtrans %}</th>
                                        <th>{% trans %}reunion.estado{% endtrans %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for reunion in reuniones %}
                                    <tr class="success">
                                        <td><a href='{{ path('reunion_show', { 'id': reunion.id }) }}'>{{ reunion.nombrePublico }}</a></td>
                                        <td>{{ reunion.fechaCreacion | localizeddate('medium', 'none', app.request.locale ) }}</td>
                                        <td>{{ reunion.fechaCreacion | date_modify("+" ~ intervalo ~ " day") | localizeddate('medium', 'none', app.request.locale ) }}</td>
                                        <td>Creada</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    {% endif %}
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->

{% endblock content %}