{% extends '::base.html.twig' %}

{% block title %}{% trans %}global.name{% endtrans %} - {% trans %}admin.listarRecursos{% endtrans %}{% endblock title %}

{% block javascripts_bottom %}
    {{ parent() }}
    
    <script type="text/javascript" src="{{ asset('bundles/jmbermudosgr3/js/i18n/' ~ app.request.locale ~ '.js' ) }}" ></script>

    {% javascripts 'bundles/jmbermudosgr3/js/_pages/admin/editarRecurso.js'%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block content %}
    {{ parent() }}

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% trans %}admin.recursos{% endtrans %}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        {{ form(edit_form) }}
                    </div>
                    
                </div>
                <hr/>
                <div class="panel-body">
                    <div class="row pull-right">
                        <div class="col-lg-6">
                            <div class="form-group">
                            {{ form_start(delete_form) }}
                                {{ form_errors(delete_form) }}
                                {{ form_widget(delete_form.submit, {'attr': {'class': 'btn btn-warning', 'onsubmit': 'alert(\'hola\')'}}) }}

                            {{ form_end(delete_form) }}
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
        
        <a href="{{ path('recurso_index') }}" class="btn btn-info"><i class="glyphicon glyphicon-backward"></i> {% trans %}global.volver{% endtrans %}</a>
        
    </div>
    <!-- /.row -->

{% endblock %}