{% extends '::base.html.twig' %}

{% block body -%}
    <h1>PreReserva</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Horainicio</th>
                <td>{{ entity.horaInicio }}</td>
            </tr>
            <tr>
                <th>Horafin</th>
                <td>{{ entity.horaFin }}</td>
            </tr>
            <tr>
                <th>Responsableresponde</th>
                <td>{{ entity.responsableResponde }}</td>
            </tr>
            <tr>
                <th>Responsableacepta</th>
                <td>{{ entity.responsableAcepta }}</td>
            </tr>
            <tr>
                <th>Anulada</th>
                <td>{{ entity.anulada }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('prereserva') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('prereserva_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
