{% extends '::base.html.twig' %}

{% block title %}{% trans %}global.name{% endtrans %} - {% trans %}voto.votacion{% endtrans %}{% endblock title %}

{% block content %}
    {{ parent() }}

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% trans with { '%reunion%': reunion.nombrePrivado } %}voto.votacionReunion{% endtrans %}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        
                        {{ form_start(form) }}

                        <table class="table col-lg-4">
                            <tbody>
                                {% for var in form.vars.form.children %}
                                <tr>

                                    {% if var.vars.name starts with 'voto_' %}
                                    <td class="col-lg-8">
                                        {{ form_label(form[var.vars.name]) }}
                                    </td>
                                    <td class="col-lg-4">
                                        <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-primary {% if var.vars.checked %}active{% endif %} ">
                                        {{ form_widget(form[var.vars.name]) }}
                                        </label>
                                        </div>
                                    </td>
                                    {% endif %}

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                        <div class="col-lg-12"><hr/></div>
                        
                        {{ form_end(form) }}
                            
                        
                    </div>
                    
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
                
    </div>
    <!-- /.row -->
    
    <a href="{{ path('reunion_index') }}" class="btn btn-info"><i class="glyphicon glyphicon-backward"></i> {% trans %}global.volver{% endtrans %}</a>
{% endblock %}
